<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task details</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<div class="main">
    <h1>Task details</h1>
    <form method="post" th:action="@{/details}" th:object="${task}">
        <input th:name="id" th:value="${task.getId()}" type="hidden"/>
        <div>
            <label>Title:</label>
            <input required th:name="title" th:value="${task.getTitle()}" type="text"/>
        </div>
        <div>
            <label>Description:</label>
            <input th:name="description" th:value="${task.getDescription()}" type="text"/>
        </div>
        <button class="btn" type="submit">Save Changes</button>
    </form>
</div>
</body>
</html>